<!DOCTYPE html>
<html>
<head>
    <title>Park Vehicle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Smart Parking Lot System</h1>

    <div class="nav">
        <a href="/">Home</a>
        <a href="/add">Add Slot</a>
    </div>

    <h2>Park Vehicle</h2>

    <form method="POST">

        <label>
            <input type="checkbox" name="needsEV">
            Needs EV Charging
        </label>

        <label>
            <input type="checkbox" name="needsCover">
            Needs Covered Slot
        </label>

        <button type="submit">Park Vehicle</button>
    </form>

    {% if message %}
    {% if message_type == "success" %}
        <div class="message-success">
            {{ message }}
        </div>
    {% else %}
        <div class="message-error">
            {{ message }}
        </div>
    {% endif %}
{% endif %}

</div>

</body>
</html>